@import "../../../../scss/variables";
.__archiver-container {
    width: 250px;
    height: 150px;
    margin: auto 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    button:not(:last-child) {
        margin-bottom: 15px;
    }

    .btn.remove {
        background-color: #f44336;
    }
    .btn.signout {
        background-color: #ff5722;
    }
    .btn.open {
        background-color: #009688;
    }
}
