// 컬러 관련
$color-primary-blue: #5068fd;
$color-highlight-green: #51feda;
$color-white: #fff;
$color-black: #363636;
$color-black-sub: #707070;
$color-background: #fafafa;

// 폰트 사이즈 관련
$font-smallest: 10px;
$font-smaller: 13px;
$font-regular: 15px;
$font-large: 18px;
$font-header: 20px;
